@charset "UTF-8";
/* CSS Document */

/*Barra de navegacion*/

html, body{
	font-family: "Playfair Display" !important; 
}

.navbar {
  margin-bottom: 0;
  background-color: #f4511e;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
/*fin barra navegacion*/
	  


.col-md {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*animacion de la imagen de atras*/
 .jumbotron { 
	 display: table;  /*Para cundo se achica la pantalla a dispostivos moviles*/
 	color: #ffffff;
	 
	 /*El 100% de la pantalla*/
	background: url( "../imagenes/joc.jpg") no-repeat center center fixed;
	 -webkit-background-size: cover;
	 -moz-background-size: cover; 
	 -o-background-size: cover; 
	 background-size: cover;
	 width: 100%; 
	 height: 100vh;
	 animation: movimiento 10s linear infinite alternate; /*Le da el movimeinto a la imagen de fondo*/
	 
}

/*Genera el movimiento de la imagen de fondo*/
@keyframes movimiento{
	from{
		background-position: bottom left;
	} to{
		background-position: top right;
	}
}

.movimiento{ 
	animation: movimiento 10s linear infinite alternate;
		background: url( "../imagenes/joc.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	 -moz-background-size: cover; 
	 -o-background-size: cover; 
	 background-size: cover; 
}
/*Fim de Generar el movimiento de la imagen de fondo*/



 
	/*pie de pagina*/  
	  footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #FEFEFE;
}

.bg-grey {
/*Genera el color de fondo gris para el pie de pagina*/
    background-color: #f6f6f6;
  }	  

footer img{
	width: 40px;
	height: 40px; 
	margin: 10px;
}
 /*Fin de pie de pagina*/




#inicio{
 font-size: 40px;
	font-weight:bold;
	  font-family: 'Roboto Mono';
	
}

#inicio img {
	border-radius: 50%; 
	height: 270px; 
	border: #FFFFFF 2px solid;
}
#texto-roboto{
	font-family: 'Roboto Mono';
	 font-size: 15px;
	
}

/*Boton de descarga de curriculum*/

.ghost-button {
    color: #fff;
    background: none;
    border: 1px solid #fff;
    font-size: 24px;
    padding: 9px 30px;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
    font-family: "HelveticaLTStd-Roman", Arial, sans-serif;
    min-width: 120px;
    text-transform: uppercase;
  
}
/*Fin de boton de descarga de curriculum*/


/*Zoom de las imagenes*/
.zoom {
    transition: transform 0.8s; 
   
}
.zoom:hover {
    
   transform: scale(1.2);
}
 
/*Fin Zoom de las imagenes*/


/*Inicia animacion del mouse*/

#raton{
	 margin: 0 auto; padding-bottom: 32px;  padding-top: 30px; text-align: center; width: 20px; height: 9px; }

#raton span
{
  display: block;
  width: 9px;
  height: 9px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 5px 0 3px 6px;
}

	

/*Inicia animacion del mause*/
.mouse {
    height: 30px;
    width: 22px;
    border-radius: 10px;
    transform: none;
    border: 2px solid white;
    top: 170px;
}

/* ruedita*/
.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 7px auto;
    background: white;
    position: relative;
}
.wheel { 
    -webkit-animation: mouse-wheel 1.2s ease infinite;
    -moz-animation: mouse-wheel 1.2s ease infinite;
}

@-webkit-keyframes mouse-wheel
{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel
{
  0% { top: 1px; }
  50% { top: 2px; }
  100% { top: 3px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
/*Debajo del raton flechitas*/

/*Nose bien como funciona pero cuenta la cantidad de movimientos ahrre*/
.unu
{
  margin-top: 6px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
}
/*Termina animacion del mause*/


/*Deslizamiento lento del contenido de abajo hacia arriba*/
	 .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }
/*Fin Deslizamiento lento del contenido de abajo hacia arriba*/

#contactoo img {
    max-width: 100%;
}


#contactoo {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

.ghost-button{
	font-family: "Playfair Display" !important; 
}
#technical span{
	font-family: "Playfair Display" !important; 
}